fastapi
uvicorn[standard]
playwright
pymongo
python-dotenv
httpx
requests
moviepy
langgraph
langchain
langchain-core
langchain-openai

google-genai
openai
ffmpeg-python
pillow
av
numpy

SQLAlchemy
psycopg[binary]
PyJWT
passlib[bcrypt]
bcrypt==4.0.1
python-multipart

redis
